In [2]:
import pandas as pd
import sqlalchemy 
from sqlalchemy import create_engine  
from time import time
import argparse
import os

In [7]:
user = "root" 
password = "root"
host = "localhost"
port = "5432" 
database = "ny_taxi"
table = "zones"

In [8]:
engine = create_engine(f"postgresql://{user}:{password}@{host}:{port}/{database}")

In [5]:
file  = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv'
output = "/home/vivek/de_zoomcamp_2025/dataset/zones.csv"

os.system(f"wget {file} -O /home/vivek/de_zoomcamp_2025/dataset/zones.csv ")

--2025-02-09 09:39:08--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.164.82.197, 3.164.82.40, 3.164.82.112, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.164.82.197|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘/home/vivek/de_zoomcamp_2025/dataset/zones.csv’

     0K .......... ..                                         100% 1.25M=0.009s

2025-02-09 09:39:08 (1.25 MB/s) - ‘/home/vivek/de_zoomcamp_2025/dataset/zones.csv’ saved [12331/12331]

0

In [10]:
df = pd.read_csv(output)

In [11]:
df.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [12]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [19]:
print(pd.io.sql.get_schema(df,name=table,con = engine))

CREATE TABLE zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)